.header {
    background-color: #2B4BBF;
    font-size: 16px;
    color: #E4E8ED;
    padding: 39px;
}

.d-flex {
    display: flex;
    align-items: center;
}

ul {
    gap: 70px;
    display: flex;

}
.navbar {
    display: flex;
    justify-content: space-between;
}

.header-left,
.header-right {
    display: flex;
}

.header-left {
    /* gap: 60px; */
}
.verticle-line {
    border-right: 1px solid #E4E8ED ;
    height: 27.66px;
    width: 1.08px;
    margin: 0 16px;
}

.title {
    font-size: 18px;
    line-height:21.09px;
    display: inline-block;
    color: white;
    margin-right: 50px;
}
