
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
  	background-color: #F2F2F2;
	height: 100%;
}

html {
  font-size: 22px;
}

  .card {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding: 20px;
	text-align: center;
  }
  
  .echarts-for-react {
	width: 100%;
	height: auto;
	background-color: black;
  }

  .echarts-for-react {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
  }
  
  .chart-container .echarts-for-react .chart-legend {
	margin-top: 20px;
	display: flex;
	justify-content: center;
  }
  
  .chart-container .echarts-for-react .chart-tooltip {
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	color: black;
	font-weight: bold;
  }
  
  .chart-container .echarts-for-react .chart-tooltip .tooltip-title {
	font-size: 14px;
	margin-bottom: 5px;
  }
  
  .chart-container .echarts-for-react .chart-tooltip .tooltip-item {
	font-size: 12px;
	margin-bottom: 5px;
  }
  
  
  .footer-container {
	/* display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	border: 1px solid red; */
  }
  
  /* .footer-container h3 {
	margin: 0;
	color: blue;
	background-color: none;
  }

  .copyright {
	align-items: center;
  } */

  .hist-container {
	border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 200px;
  }

.app {
	background-color: #F2F2F2;
	height: 100%;
}